@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
    /* Background gradient */
    --softViolet: 	#af67e9;
    --softBlue: #6565e7;

    --white: #ffffff;
    --dark: #24293F;

    /* Types Color */
    --fire: #ff9741;
    --psychic: #ff6675;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 700;
    color: var(--white);
}

.dark {
    color: var(--dark);
}

.white {
    color: var(--white);
}

.psychic {
    color: var(--white);
    background-color: var(--psychic);
}

.icon:hover {
    color: rgba(0, 0, 0, .2);
    transform: scale(.90);
}

.hero-banner {
    background-image: url("../assets/images/pokemon-pokeball-icon.png"),linear-gradient(var(--softViolet), var(--softBlue)); 
    background-repeat: no-repeat, no-repeat;
    background-position: center;
}

.hero-btn:hover {
    color: var(--softBlue)
}

.wave-container {
    position: relative;
    background-color: var(--softBlue);
}

.pokemon-modal {
    background-image: url("../assets/images/pokemon-pokeball-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.modal-bg {
    background: rgb(36,41,63);
    background: linear-gradient(0deg, rgba(36,41,63,1) 50%, var(--softBlue) 100%);
}

.modal-image {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
}